@*<html ng-app="EmployeesModule">*@
@{
    ViewBag.Title = "EmployeesData";
}

<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>Employees</h2>
<body data-ng-app="EmployeesModule">
    <div id="Employees" ng-controller="EmployeesController">
        <table>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Salary</th>
            </tr>
            <tbody data-ng-repeat="a in Employees">
                <tr>
                    <td>{{a.ID}}</td>
                    <td>{{a.FirstName}}</td>
                    <td>{{a.LastName}}</td>
                    <td>{{a.Salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
@*</html>*@
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/Module.js"></script>
<script src="~/Scripts/Service.js"></script>
<script src="~/Scripts/Controller.js"></script>